.main {
    display: flex;
    flex-direction: column;
    padding: 20px 10%; /* Adjust padding as needed */
    width: 100%;
    height: 100%; /* Fixed height relative to the parent */
    box-sizing: border-box;
    overflow: hidden; /* Prevent growth due to content overflow */
}

.countproduct {
    display: grid;
    grid-template-rows: auto 1fr; /* Filters row adjusts to its content, products row takes remaining space */
    height: 100%; /* Constrain the grid height to the parent's height */
    gap: 10px; /* Spacing between rows */
}

.filters {
    flex-shrink: 0;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    overflow-y: auto;
    max-height: auto;
    box-sizing: border-box;
    overflow: hidden;
}