.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center; /* Center-align the product list */
}

.product-item {
  display: flex; /* Use flexbox for centering */
  align-items: center; /* Center content horizontally */
  flex-direction: column; /* Allow vertical alignment */
  justify-content: center; /* Center content vertically */
  flex: 1 1 calc(27.333% - 20px); /* Responsive width */
  border-radius: 4px;
  padding: 10px 10px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform: translateY(-5px);
  box-shadow: 0 0px 8px 7px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  margin-top: 2%;
  align-items: flex-start;
  margin-left: 2%;
  margin-right: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.productImage {
  object-fit: fill;
  width: 280px;
  height: 280px;
}
.purchaseButton{
  background: #3a2d28;
    color: #fff;
    border-radius: 25px;
    cursor: pointer;
    font-size: 18px;
    border: none;
    padding: 5px;
    width: 70%;
    max-width: 400px;
    box-sizing: border-box;
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
}
.productName{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.detProduct{
  width: 100%;
}
/* Responsive Design */
@media (max-width: 1463px) {
  .product-item {
    padding: 10px 10px;
    margin-top: 2%;
  }
}
@media (max-width: 1219px) {
  .product-item {
    padding: 10px 10px;
    margin-top: 2%;
  }
  .productImage {
    height: 200px;
  }
}
@media (max-width: 911px) {
  .product-item {
    flex: 1 1 calc(27.333% - 20px);
    padding: 10px 10px;
  }

}
@media (max-width: 768px) {
  .product-item {
    flex: 1 1 calc(50% - 10px); /* Adjust to 2 columns */
  }
}

@media (max-width: 480px) {
  .product-item {
    flex: 1 1 100%; /* Adjust to 1 column */
  }
}
